html, body{
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	height: 100%; /* fixes focus scrolling in Safari (OS X) */
}

/* Lists */

ul{
    margin: 0;
    padding: 0;
}

/* Container */

#container{
	position: relative;
	padding: 20px 40px;
}

#messageContainer {
    text-align: center;
}

/* Menu Button */

.menu-btn-group:after {
	clear: both;
}

.menu-btn{
	float: left;
	width: 115px;
	padding: 10px;
	margin: 0 20px 20px 0;
	background: #000;
	color: #FFF;
	cursor: pointer;
}

.menu-btn:hover{
	background: #00b4ff;
	color: #FFF;
}

.clearfix {
	clear: both;
}